<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.enro.core">
    <application
        android:name=".TestApplication"
        android:testOnly="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".DefaultActivity"/>
        <activity android:name=".GenericActivity"/>
        <activity android:name=".ActivityWithFragments"/>
    </application>
</manifest>