
$code-block-background-color: #333333;
$code-language-key-word: #cc7832;
$code-annotation-name: #bbb529;
$code-normal-text: #A9B7C6;
$code-parameter-name: #467CDA;
$code-primitive-number: #6897BB;
$code-variable-name: #9876AA;
$code-function-name: #ffc66d;
$code-primitive-string: #6A8759;
$code-comment: #999999;

.language-kotlin {
    background-color: $code-block-background-color !important;
    line-height: normal;

    > .highlight {
        > .highlight {
            code {
                background-color: transparent;
                border: none;
            }

            .p {
                color: $code-normal-text;
            }
            .py {
                color: $code-normal-text;
            }

            .nc {
                color: $code-normal-text;
            }
            .n {
                color: $code-normal-text;
            } 

            .c1 {
                color: $code-comment;
            }
            .cm {
                color: $code-comment;
            }
            .nd {
                color: $code-annotation-name;
            }
            .kd {
                color: $code-language-key-word;
            }
            .k {
                color: $code-language-key-word;
            }
            .nf {
                color: $code-function-name;
            } 
        }
    }
}
