
$code-block-background-color: #333333;
$code-language-key-word: #cc7832;
$code-annotation-name: #bbb529;
$code-normal-text: #A9B7C6;
$code-parameter-name: #467CDA;
$code-primitive-number: #6897BB;
$code-variable-name: #9876AA;
$code-function-name: #ffc66d;
$code-primitive-string: #6A8759;
$code-comment: #999999;

.language-kotlin {
    background-color: $code-block-background-color !important;
    line-height: normal;

    > .highlight {
        line-height: 1;
        code {
            background-color: transparent;
            border: none;
            color: $code-normal-text;
            white-space: pre-wrap;
        }

        .p {
            color: $code-normal-text;
        }
        .py {
            color: $code-normal-text;
        }

        .nc {
            color: $code-normal-text;
        }
        .n {
            color: $code-normal-text;
        } 

        .s {
            color: $code-primitive-string;
        } 

        .c1 {
            color: $code-comment;
        }
        .cm {
            color: $code-comment;
        }
        .nd {
            color: $code-annotation-name;
        }
        .kd {
            color: $code-language-key-word;
        }
        .k {
            color: $code-language-key-word;
        }
        .nf {
            color: $code-function-name;
        } 
    }
}

.highlighter-rouge.code-important {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: $spacing-unit * 0.2;
    padding-bottom: $spacing-unit * 0.2;
    border-radius: 0px;
}

.highlighter-rouge.code-not-important {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0px;

    > .highlight {
        opacity: .3;
    }
}

.highlighter-rouge.code-start {
    padding-top: $spacing-unit *  0.75;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.highlighter-rouge.code-end {
    padding-bottom: $spacing-unit *  0.75;
    margin-bottom: $spacing-unit *  0.75;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}