
$code-language-key-word: #CC6633;
$code-annotation-name: #BBB529;
$code-normal-text: #A9B7C6;
$code-parameter-name: #467CDA;
$code-primitive-number: #6897BB;
$code-variable-name: #9876AA;
$code-function-name: #FFC66D;
$code-primitive-string: #6A8759;

.language-kotlin {
    .nd {
        color: $code-annotation-name;
    }
    > .highlight {
        .nd {
            color: $code-primitive-number;
        }
        
        > .highlight {
            .nd {
                color: $code-variable-name;
            }
        }
    }
}
