@import './code-highlighting.scss';

// Enro theme variables
$color-primary: #607d8b;
$color-primary-variant: #34515e;
$color-text: #707070;
$color-background: #f4f6f7;
$color-surface: #ffffff;

@font-face {
    font-family: "cutive-mono";
    src: url("../../assets/cutive_mono.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: "cutive-mono";
    font-weight: 600;
}

.btn {
    // font-family: "cutive-mono";
}

.btn-primary {
    background-image: none;
    background-color: $color-primary;
}

.text-gamma {
    font-weight: 600;
}

.aux-nav-list-item {
    width: 100%;

    > a {
        font-size: .8rem;
        font-weight: 600;

        &::before { 
            content: '';
            height: 2rem;
            background-image: url("../../assets/git-icon.png");
            width: 2rem;
            background-size: 2rem;
            display: block;
            margin-right: 0.5rem;
            background-color: $color-primary;
            background-blend-mode: screen;
        }
    }
}

// $nav-width: 264px;
// $nav-width-md: 248px;
// $content-width: 800px;
@media(min-width: $content-width) { 
    .side-bar {
        width: calc(50% - (#{$content-width} / 2));
        min-width: $nav-width-md;
    }
    .main {
        margin-left: $nav-width-md;
        max-width: none;
    }
    .main-content-wrap {
        max-width: $content-width;
    }
    .search-input-wrap {
        max-width: none;
        width: 100% !important;
    }
    .search-results {
        max-width: none;
        width: 100%;
    }
    .search-result {
        display: flex;
    }
    .search-result-title {
        width: auto;
        display: inline-block;
        padding-right: $spacing-unit;
    }
    .search-result-previews {
        width: auto;
        display: flex;
        padding-left: $spacing-unit;
    }
}

@media(min-width: ($content-width + $nav-width-md)) { 
    .main {
        margin-left: $nav-width;
        max-width: none;
    }
}

@media(min-width: ($content-width + $nav-width)) { 
    .main {
        margin-left: calc(50% - (#{$content-width} / 2));
        max-width: none;
    }
}