// Enro theme variables
$color-primary: #607d8b;
$color-primary-variant: #34515e;
$color-text: #707070;
$color-background: #f4f6f7;
$color-surface: #ffffff;

@font-face {
    font-family: "cutive-mono";
    src: url("../../assets/cutive_mono.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "cutive-mono";
}

.btn {
    font-family: "cutive-mono";
}

.btn-primary {
    background-image: none;
    background-color: $color-primary;
}

@media(min-width: $content-width) { 
    .side-bar {
        width: $nav-width;
    }
    .main {
        margin-left: $nav-width;
        max-width: none;
    }
    .main-content-wrap {
        max-width: $content-width;
    }
    .search-input-wrap {
        max-width: none;
    }
    .search-results {
        max-width: none;
    }
    .search-result-title {
        width: none;
        padding-right: $spacing-unit;
    }
    .search-result-previews {
        width: none;
        padding-left: $spacing-unit;
    }
}