// Enro theme variables
$color-primary: #607d8b;
$color-primary-variant: #34515e;
$color-text: #707070;
$color-background: #f4f6f7;
$color-surface: #ffffff;

.btn-primary {
    background-image: none;
    background-color: $color-primary;
}