<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Enro Hilt Test"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name="dev.enro.DefaultActivity"/>
        <activity android:name="dev.enro.hilt.test.HiltViewModelCreationTests$ContainerActivity"/>
    </application>

</manifest>