<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="dev.enro.TestApplication"
        android:testOnly="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="dev.enro.DefaultActivity" />
        <activity android:name="dev.enro.GenericActivity" />
        <activity android:name="dev.enro.core.legacy.ActivityWithFragments" />
        <activity android:name="dev.enro.UnboundActivity" />
        <activity android:name="dev.enro.result.ResultActivity" />
        <activity android:name="dev.enro.result.ResultReceiverActivity" />
        <activity android:name="dev.enro.result.NestedResultReceiverActivity"/>
        <activity android:name="dev.enro.result.SideBySideNestedResultReceiverActivity"/>
        <activity android:name="dev.enro.result.ResultFlowActivity"/>
        <activity android:name="dev.enro.core.plugins.PluginTestActivity"/>
        <activity android:name="dev.enro.test.EnroTestTestActivity"/>
        <activity android:name="dev.enro.core.legacy.ImmediateOpenFragmentChildActivity"/>
        <activity android:name="dev.enro.core.legacy.ImmediateOpenChildActivity"/>
        <activity android:name="dev.enro.result.ViewModelForwardingResultActivity"/>
        <activity android:name="dev.enro.core.legacy.ActivityWithComposables"/>
        <activity android:name="dev.enro.core.SingleFragmentContainerActivity" />
        <activity android:name="dev.enro.core.MultipleFragmentContainerActivity" />
        <activity android:name="dev.enro.core.SingleComposableContainerActivity" />
        <activity android:name="dev.enro.core.MultipleComposableContainerActivity" />
        <activity android:name="dev.enro.core.MultipleFragmentContainerActivityWithAccept" />
        <activity android:name="dev.enro.core.MultipleComposableContainerActivityWithAccept" />
        <activity android:name="androidx.activity.ComponentActivity"/>
        <activity android:name="dev.enro.result.RecyclerViewResultActivity"/>
        <activity android:name="dev.enro.result.ComposeRecyclerViewResultActivity"/>
        <activity android:name="dev.enro.result.ResultFlowFragmentRootActivity"/>
        <activity android:name="dev.enro.core.JetpackNavigationActivity" />
        <activity android:name="dev.enro.core.destinations.ActivityDestinationsRootActivity"/>
        <activity android:name="dev.enro.core.destinations.ActivityDestinationsPresentableActivity"/>
        <activity android:name="dev.enro.core.plugins.MultipleFragmentContainerActivity"/>
        <activity android:name="dev.enro.core.compose.ComposeStabilityActivity" />
        <activity android:name="dev.enro.core.compose.ComposeStabilityGroupsActivity" />
        <activity android:name="dev.enro.core.fragment.FragmentStabilityActivity" />
        <activity android:name="dev.enro.core.fragment.FragmentStabilityGroupsActivity" />

        <activity android:name="dev.enro.test.ActivityWithFragmentContainer" />
        <activity android:name="dev.enro.test.ActivityWithComposeContainer" />
        <activity android:name="dev.enro.test.ActivityWithNoContainer" />
        <activity android:name="dev.enro.test.ActivityWithNoContainerAndNoFragments" />
    </application>
</manifest>