<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.enro">
    <application
        android:name=".TestApplication"
        android:testOnly="true"
        android:theme="@android:style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".DefaultActivity"/>
        <activity android:name=".GenericActivity"/>
        <activity android:name=".ActivityWithFragments"/>
        <activity android:name=".UnboundActivity"/>
        <activity android:name=".result.ResultActivity"/>
        <activity android:name=".result.ResultReceiverActivity"/>
        <activity android:name=".result.NestedResultReceiverActivity"/>
        <activity android:name=".result.SideBySideNestedResultReceiverActivity"/>
        <activity android:name=".result.ResultFlowActivity"/>
        <activity android:name=".core.PluginTestActivity"/>
        <activity android:name=".test.EnroTestTestActivity"/>
        <activity android:name=".core.ImmediateOpenChildActivity"/>
        <activity android:name=".core.ImmediateOpenFragmentChildActivity"/>
        <activity android:name=".result.ViewModelForwardingResultActivity"/>
        <activity android:name=".ActivityWithComposables"/>
        <activity android:name=".core.ComposableTestActivity" />
        <activity android:name="androidx.activity.ComponentActivity"/>
    </application>
</manifest>